* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: default;
    font-family: Arial;

}

header {
    height: 40px;
    display: flex;
    box-shadow: 2px 10px 9px #bbbbbb;
    background-color: #2d2d2d;
}

header h1 {
    font-size: 21px;
    font-family: Arial;
    margin: 11px;
    color: #ffffff;
}

.main-wrapper {
    background-color: #1d1d1d;
    height: 100vh;
}


.main {
    display: flex;
    margin-top: 10px;
    background-color: #1d1d1d;

}

.draw-instr {
    width: 100px;
}

.wrap-instr {
    margin-top: 240px;

}

.paint-btn, .eraser-btn, .pen-btn, .stroke-btn, .rect-btn, .circle-btn, .prim-color, .sec-color, .color-picker-btn, .vert-mir-btn, .horiz-mir-btn {
    height: 46px;
    width: 46px;
    display: flex;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    margin-bottom: 1px;
    cursor: pointer;
}

.selected {
  border: 3px solid gold;
}

.pen, .eraser, .rectangle, .circle, .stroke, .col-picker, .mirrorPenX, .mirrorPenY {
  width: 46px;
  height: 46px;
}

.prim-color {
    background-color: #444444;
    margin-top: -67px;
}

.sec-color {
    background-color: #444444;
    margin-top: 37px;
    margin-left: 23px;
}

.pen-btn {
    background-image: url(../images/pen.png);
}

.horiz-mir-btn {
  background-image: url(../images/mirrorY.png);
}

.paint-btn {
    background-image: url(../images/paint.png);
}

 .eraser-btn {
    background-image: url(../images/eraser.png);
}

.stroke-btn {
    background-image: url(../images/stroke.png);
}

.rect-btn {
    background-image: url(../images/rectangle.png);
}
.circle-btn {
    background-image: url(../images/circle.png);
}

.vert-mir-btn {
  background-image: url(../images/mirrorX.png);
}

.color-picker-btn {
    background-image: url(../images/color-picker.png);
}


.frames {
    width: 110px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 7px;
}

.frame {
    width: 100px;
    height: 100px;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    position: relative;
}

.frame-item {
  position: absolute;
  top: 0;
  left: 0;
}

.current {
    border: #ffd700 4px solid;
}

.current::after {
    border: 7px solid transparent;
    border-left: 8px solid #ffd700;
    left: 104px;
    top: 44px;
    content: '';
    position: absolute;
    }

.add-frame {
    width: 101px;
    height: 47px;
    margin-top: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #222222;
    color: #888888;
}

.canvas-main-wrap {
    width: 1500px;
    height: 850px;
    background-color: #a0a0a0;
}

.canvas-main {
    width: 768px;
    height: 768px;
    border: 1px solid #e0e0e0;
    margin: 30px auto;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
   }

   .canvas-draw {
    position: absolute;
    left: 0px;
    top:0px;
    }

    .canvas-preview-clone{
      position: absolute;
      left: 0px;
      top:0px;
      visibility: hidden;
      z-index: 1;
      opacity:0.5;
    }

   .canvas-clone {
    position: absolute;
    left: 0px;
    top:0px;
    visibility: hidden;
    z-index: 10;
    opacity:0.5;
     }


.preview-control, .export {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  margin: 5px auto;
  background-color: #333333;
  color: #aaa;
  }

  .canvas-sizes {
    width: 220px;
    height: 50px;
    margin: 5px auto;
    background-color: #333333;
    color: #aaa;
    }

    .canvas-sizes div {
      margin: 5px;
    }

    .wrap-sizes {
      margin: 5px;
    }

    .wrap-info {
      margin: 5px;
    }

    .info {
      width: 220px;
      height: 80px;
      margin: 5px auto;
      background-color: #333333;
      color: #aaa;
      display: flex;
      flex-direction: column;
      }

.value {
  float: left;
  color: #aaa;
  font-size: 12px;
  min-width: 55px;
  vertical-align: bottom;
  line-height: 26px;
}

.fullscr {
  float: left;
  color: #aaa;
  font-size: 12px;
  min-width: 55px;
  vertical-align: bottom;
  line-height: 26px;
}

:-webkit-full-screen {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.fps {
  overflow: hidden;
  width: 100px;
  height: 26px;
  margin: 0;
  box-sizing: border-box;
}

.download-gif {
  display: none;
  color: #aaa;
  font-size: 12px;
  margin-left: 20px;
  line-height: 39px;
  }

.add-frame, .pen-btn, .eraser-btn, .rect-btn, .circle-btn, .stroke-btn, .color-picker-btn, .sec-color, .prim-color,.delete:hover {
    cursor: pointer;
}

.delete {
    width: 30px;
    height: 30px;
    background-image: url(../images/basket.png);
    z-index: 10;
    background-repeat: no-repeat;
    visibility: hidden;
    margin-left: 80px;
}

.numb {
    width: 30px;
    height: 30px;
    background-color: #ffd700;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.preview {
    width: 300px;
    height: 300px;
    flex-direction: column;
    place-content: space-around;
    justify-content: center;
}

.wrapper-can {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 0px auto 5px auto;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
}







